<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.reservation.dao.ReservationMapper">  
	<select id="getReservationCount" parameterType="string" resultType="integer">
		SELECT count(*) FROM cmember m JOIN creserve r ON r.mem_num = m.mem_num 
  		JOIN croom c ON r.room_num=c.room_num 
  		JOIN camping p ON c.camping_num=p.camping_num  
  		WHERE m.email=#{email} AND NOT r.res_state ='예약취소'
	</select>
	
	<select id="getReservationList" parameterType="map" resultType="reservationVO">
  		SELECT * FROM (SELECT a.*,rownum rnum FROM (SELECT * FROM cmember m JOIN creserve r ON r.mem_num = m.mem_num 
  		JOIN croom c ON r.room_num=c.room_num 
  		JOIN camping p ON c.camping_num=p.camping_num WHERE m.email=#{email} AND NOT r.res_state ='예약취소' ORDER BY r.res_num DESC )a) 
  		<![CDATA[
  		WHERE rnum >= #{start} AND rnum <= #{end}
  		]]>
  	</select>
  	
  	<select id="getReservation" parameterType="integer" resultType="reservationVO">
  		SELECT res_num, res_name,res_phone,headcount,res_start,res_end,res_state,mem_num,r.room_num,r.camping_num,res_email,camp_name,room_name,res_price FROM creserve r JOIN croom m ON r.room_num=m.room_num JOIN camping c ON c.camping_num=m.camping_num
  		 WHERE res_num=#{res_num}
  	</select>
  	<update id="updateReservation" parameterType="reservationVO">
  		UPDATE creserve SET res_name=#{res_name},res_phone=#{res_phone},res_email=#{res_email},headcount=#{headcount},res_start=#{res_start},res_end=#{res_end},res_price=#{res_price} 
  		WHERE res_num=#{res_num} 
  	</update>
  	<select id="getRecentReservation" parameterType="integer" resultType="reservationVO">
  		SELECT b.* FROM (SELECT a.*,rownum rnum FROM (SELECT * FROM creserve r JOIN croom m ON r.room_num=m.room_num JOIN camping c ON c.camping_num=m.camping_num 
		WHERE r.mem_num=#{mem_num} ORDER BY TO_dATE(RES_START) ASC)a)b
		WHERE rnum=(SELECT max(rnum) FROM (SELECT a.*,rownum rnum FROM (SELECT * FROM creserve r JOIN croom m ON r.room_num=m.room_num JOIN camping c ON c.camping_num=m.camping_num 
		WHERE r.mem_num=#{mem_num} ORDER BY TO_dATE(RES_START) ASC)a))
  	</select>
  	
  	<select id="getReserveNotificationList" resultType="reserveNotificationVO">
		SELECT * FROM creserve_notification WHERE mem_num=#{mem_num} ORDER BY date_time
  	</select>
</mapper>







