<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.notice.dao.NoticeMapper">
	<select id="getNoticeList" parameterType="map" resultType="noticeVO">
		select
		*
		from(select
				a.*,
				rownum rnum
			 from (select
			 			n.notice_num,
			 			<![CDATA[
			 			REPLACE(REPLACE(n.title,'<','&lt;'),'>','&gt;') title,
			 			]]>
			 			n.hit,
			 			n.reg_date,
			 			n.mem_num,
			 			d.name
			 		from cnotice n join cmember_detail d on n.mem_num = d.mem_num
			 		<where>
			 			<if test="keyword != '' and keyfield == 1">
			 				n.title like '%' || #{keyword} || '%'
			 			</if>
			 			<if test="keyword != '' and keyfield == 2">
			 				d.name like '%' || #{keyword} || '%'
			 			</if>
			 			<if test="keyword != '' and keyfield == 3">
			 				n.content like '%' || #{keyword} || '%'
			 			</if>
			 			<if test="keyword != '' and keyfield == 4">
			 				n.content like '%' || #{keyword} || '%' or
			 				n.title like '%' || #{keyword} || '%'
			 			</if>
			 		</where>
			 		order by n.notice_num desc)a)
		<![CDATA[
			where rnum >= #{start} and rnum <= #{end}
		]]>
	</select>
	
	<select id="getNoticeCount" parameterType="map" resultType="integer">
		select 
		 count(*)
		from cnotice n join cmember_detail d on n.mem_num = d.mem_num
		<where>
			<if test="keyword != '' and keyfield == 1">
				n.title like '%' || #{keyword} || '%'
			</if>
			<if test="keyword != '' and keyfield == 2">
				d.name like '%' || #{keyword} || '%'
			</if>
			<if test="keyword != '' and keyfield == 3">
				n.content like '%' || #{keyword} || '%'
			</if>
			<if test="keyword != '' and keyfield == 4">
				n.content like '%' || #{keyword} || '%' or
				n.title like '%' || #{keyword} || '%'
			</if>
		</where>	
	</select>
	
	<update id="updateNotice" parameterType="noticeVO">
		 UPDATE cnotice SET
            
            <!-- 파일명이 있는 경우 -->
            <if test="filename != ''">
            uploadfile=#{uploadfile},
            filename=#{filename},
            </if>
            <!-- 파일명이 있다면 파일을 업데이트 해주지만, 없다면 아래만 업데이트 -->
            title=#{title},
            content=#{content},
            ip=#{ip},
            modify_date= SYSDATE
         WHERE notice_num=#{notice_num}  		
	</update>
	
</mapper>  